@font-face {
  font-family: "iconfont"; /* Project id 4681046 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1727328418371') format('woff2'),
       url('iconfont.woff?t=1727328418371') format('woff'),
       url('iconfont.ttf?t=1727328418371') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.im-shipin:before {
  content: "\e6bb";
}

.im-tupian:before {
  content: "\e621";
}

.im-anquan:before {
  content: "\e637";
}

.im-jia:before {
  content: "\e600";
}

.im-biaoqing1:before {
  content: "\e657";
}

.im-yuyin:before {
  content: "\e62a";
}

.im-send:before {
  content: "\e6a7";
}

.im-qingkong-:before {
  content: "\e68e";
}

.im-bianji-2:before {
  content: "\e6b1";
}

.im-gengduo_shu-2:before {
  content: "\e6b2";
}

.im-guanbi-2:before {
  content: "\e6b3";
}

.im-gengduo-2:before {
  content: "\e6b4";
}

.im-queren-2:before {
  content: "\e6b5";
}

.im-shuaxin-2:before {
  content: "\e6bc";
}

.im-xiangxia-2:before {
  content: "\e6be";
}

.im-sousuo-2:before {
  content: "\e6bf";
}

.im-xiangzuo-3:before {
  content: "\e6c0";
}

.im-xiangyou-3:before {
  content: "\e6c1";
}

.im-xiangshang-3:before {
  content: "\e6c2";
}

.im-yichu-2:before {
  content: "\e6c3";
}

.im-denglu:before {
  content: "\e61d";
}

.im-24gl-network:before {
  content: "\e99b";
}

.im-ClearNight-qing-yewan:before {
  content: "\e612";
}

.im-Sunny:before {
  content: "\e615";
}

.im-shezhi-2:before {
  content: "\e6b8";
}

.im-huihua:before {
  content: "\e663";
}

.im-wode:before {
  content: "\e61c";
}

